.about-me-photo{
  width: 40%;
  padding-right: 100px;
}

.about-me-photo img{
  width: 90%;
}

.about-me-section{
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
  margin: 0 -12px;
}

.photo-row .column {
  flex: 1;
  padding: 12px;
}

.column img{
  border-radius: 40px;
}

.body-content p{
  color: #7F7F7F;
}

.body-content h1{
  color: #000;
  line-height: 26px;
  font-size: 16px;
}


@media only screen and (max-width: 700px){
  .about-me-section{
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .body-content{
    width: 100%;
    padding-top: 40px;
  }

  .about-me-photo{
    width: 80%;
    padding-right: 0;
    display: flex;
    justify-content: center;
  }

  .photo-row .column:nth-child(1),
  .photo-row .column:nth-child(2) {
    display: none; /* Hide the first two images */
  }

  .photo-row {
    flex-direction: column; /* Stack columns vertically */
    margin: 0; /* Remove margin on mobile */
    padding-top: 20px; /* Adjust padding for mobile */
  }

  .photo-row .column {
    flex: 0 0 100%; /* Make each column take up 100% of the width */
    max-width: 100%; /* Ensure columns do not exceed 100% width */
    box-sizing: border-box; /* Ensure padding is included in the width */
    padding: 0; /* Remove padding on mobile */
  }

  .photo-row .column img {
    width: 100%; /* Ensure images take up full width of column */
    margin-bottom: 20px;
  }
}

/* for medium devices*/
@media only screen and (min-width: 701px) and (max-width: 1279px){
  .about-me-section{
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .about-me-photo{
    width: 40%;
    padding-right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .body-content{
    text-align: center;
    width: 85%;
  }
}
