
.title-section{
  padding-top: 40px;
  padding-bottom: 32px;
}

.title-section img{
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  margin-top: 32px;
}

.title-section h1{
  line-height: 16px;
}

.body-section{
  display: flex;
  flex-direction: row;
  padding-bottom: 36px;
}

.body-section h6{
  margin-bottom: 0;
}

.subtitle{
  width: 30%;
  padding-right: 100px;
}

.subtitle h5{
  margin-top: 12px;
}

.body-content{
  width: 60%;
}

.body-content img{
  width: 100%;
  padding-bottom: 24px;
}

.body-content p{
  padding-bottom: 8px;
}

.body-content h5{
  margin-top: 0;
  text-align: center;
  padding-bottom: 12px;
}

.body-content h5 a{
  
}

.highlighted{
  border-radius: 24px;
  padding: 12px 32px 12px 32px;
  margin-bottom: 32px;
  margin-top: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.competitor-highlighted{
  border-radius: 24px;
  padding: 12px 32px 12px 32px;
  margin-bottom: 32px;
  margin-top: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.highlighted p{
  padding-bottom: 0;
}

.highlighted h6{
  margin-top: 16px;
}

.competitor-highlighted h6{
  margin-top: 16px;
}

.split-body-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stadia-split-body-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.competitor-split-body-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left{
  padding-right: 24px;
}

.left img{
  padding-bottom: 0;
}

.journey-left{
  padding-right: 24px;
}

.journey-left img{
  width: 240px;
  padding-bottom: 0;
}

.right{
  padding-left: 24px;
}

.bold{
  font-weight: 610;
}

.blue-bold{
  color: #0078D8;
}

.purple-bold{
  color: #710DE7;
}

.pink-bold{
  color: #FF76AC;
}

#component-collage{
  padding-top: 12px;
  border-radius: 30px;
}

#stadia-split{
  padding-top: 24px;
  margin: auto;
  display: block;
}

.stadia-split-body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stadia-split-body-content img {
  width: 48%;
  height: auto;
  margin: 0;
  border-radius: 20px; 
  padding-bottom: 0px;
}

#competitor-logos{
  height: 100px;
  width: 100px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.google-split-body-content{
  display: flex;
  justify-content: space-between;
}

.google-split-body-content img {
  width: 30%;
  border-radius: 20px;
  height: auto;
  margin: 0 5px;
  padding-bottom: 0px;
}



@media only screen and (max-width: 700px){
  #stadia-split{
    width: 90%;
  }

  .competitor-split-body-content{
    flex-direction: column;
  }

  .title-section{
    padding-top: 0px;
  }

  .title-section img{
    margin-top: 0;
    margin-bottom: 28px;
  }

  #google-cover-photo{
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 8px;
  }

  .body-section{
    flex-direction: column;
  }

  .subtitle{
    width: 100%;
    padding-right: 0;
  }

  .subtitle h3{
    margin: 0;
  }

  .highlighted h3{
    line-height: 28px;
  }

  .competitor-highlighted h6{
    text-align: center;
  }


  .competitor-highlighted{
    padding: 12px 12px 12px 12px;
  }

  .competitor-left{
    padding-top: 12px;

  }

  .body-content{
    width: 100%;
  }

  .body-content h3{
    font-size: 16px;
    line-height: 28px;
  }

  .split-body-content{
    flex-direction: column;
  }

  .left{
    padding-right: 0;
  }

  .right{
    padding-left: 0;
  }

  .title-section h1{
    line-height: 44px;
  }

  .google-split-body-content {
    flex-direction: column;
    align-items: center;
  }

  .google-split-body-content img {
    width: 100%;
    margin: 10px 0;
  }
}
