#rbc-split{
  width: 70%;
}

#smaller-img{
  width: 50%;
  margin: auto;
  display: block;
}

#rbc-logo{
  width: 50%;
  margin: auto;
  display: block;
}

#persona{
  padding-bottom: 24px;
}

#rbc-split{
  padding-top: 24px;
  margin: auto;
  display: block;
}

#design-left{
  width: 200px;
}

#screen-split{
  width: 200px;
  padding-top: 24px;
}

#text-screen-split{
  padding-left: 100px;
}

#slack-quote{
  width: 80%;
  margin: auto;
  display: block;
  padding-bottom: 0;
}

@media only screen and (max-width: 700px){
  #rbc-logo{
    width: 80%;
  }

  #text-screen-split{
    padding-left: 0;
  }

  #slack-quote{
    width: 100%;
  }
}

/* for medium devices*/
@media only screen and (min-width: 701px) and (max-width: 1279px){
  #rbc-logo{
    width: 80%;
  }

  .split-body-content{
    flex-direction: column;
    align-items: center;
  }

  .left{
    padding-right: 0;
  }

  .right{
    padding-left: 0;
  }

  #text-screen-split{
    padding-left: 0;
  }

  #smaller-img{
    width: 80%;
  }

  #slack-quote{
    width: 100%;
  }
}
