@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
  font-family: 'chinese' ;
  src: url('chinese-font.ttf') format('truetype');
}


body{
  transition: 0.3s;
  margin: 0;
  padding: 0;
  font-family: "Figtree", serif;
}

h1{
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
}

h2{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

h3{
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

h4{
  line-height: 26px;
  font-size: 16px;
  color: ##000;
  font-weight: 500;
}

h5{
  font-size: 16px;
  font-weight: 400;
  color: #6F6F6F;
}

h6{
  font-weight: 600;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

p{
  line-height: 26px;
  font-size: 16px;
  color: #6F6F6F;
}

a{
  font-weight: 500;
  font-size: 16px;
}

li{
  line-height: 24px;
  font-size: 16px;
}

.page-container{
  padding-left: 20%;
  padding-right: 20%;
}

/*nav bar*/
.brand-title a{
  font-family: 'chinese';
  text-decoration: none;
  color: #A5A5A5;
  font-size: 28px;
}

.chinese{
  font-family: 'chinese';
  font-size: 24px;
  color: #FFACCC;
}

.brand-title a:hover{
  color: #6F6F6F;
}

.brand-title{
  padding-left: 20%;
}

.navbar-links{
  padding-right: 20%;
}

.navbar-links a:hover{
  color: #6F6F6F;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: white;
  padding-bottom: 16px;
  z-index: 1;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: #A5A5A5;
  font-size: 16px;
}

/*intro section*/
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.main-text{
  width: 40%;
}

.main-text h1{
  color: #000;
  line-height: 26px;
}

.main-text p{
  color: #737373;
  margin-top: 8px;
}

.main-text a{
  text-decoration: none;
  color: #737373;
  font-weight: 400;
}

.main-text a:hover{
  color: #9A5D1A;
}

.main-text h5{
  color: #737373;
}

.cute-things{
  color: #FFACCC;
}

.main-photo img {
  display: flex;
  float: right;
  width: 300px;
  height: auto;
  padding-right: 60px;
}

.main-scroll{
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 80px;
}

#arrow{
  width: 70px;
}


/*case study cards*/
.case-study{
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  transition: all .5s;
}

.case-study h1{
  margin-bottom: 0px;
}

.case-study h5{
  font-style: normal;
  margin-top: 12px;
  margin-bottom: 20px;
}

.case-text p{
  padding-bottom: 28px;
  color: #7F7F7F;
  font-weight: 400;
}

.case-study h3{
  color: #000;
}

.case-text{
  padding-left: 120px;
}

.case-photo img{
  width: 550px;
  border-radius: 40px;
}

.case-study:hover{
  transform: scale(1.02);
  transition: all .5s;
}

.case-text a{
  text-decoration: none;
}

.cta{
  background-color: #FFE9F3;
  padding: 16px 20px;
  border-radius: 60px;
  color: #000;
}

.cta:hover{
  background-color: #FFE4F0;
}

html{
  scroll-behavior: smooth;
}


/*footer*/
footer{
padding: 60px 0px 80px 0px;
}

footer h3 {
  font-size: 16px;
  font-weight: 400;
  color: #BBBBBB;
}

.contact {
  color: #737373;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align horizontally */
}

.contact a {
  padding: 4px 8px; /* Add horizontal padding between links */
  font-weight: 400;
  color: #737373;
  text-decoration: none;
  font-size: 14px;
}

/* for small devices*/
@media only screen and (max-width: 1000px){
  .navbar{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .brand-title{
    padding-left: 25px;
  }

  .navbar-links{
    padding-right: 25px;
  }

  .navbar-links li a{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .page-container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .main{
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .main-photo img{
    order: 1;
    width: 70%;
    padding-right: 0px;
    padding-bottom: 20px;
  }

  .main-photo{
    display: flex;
    justify-content: center;
  }

  .main-text{
    order: 2;
    width: 100%;
    padding: 0;
  }

  .main-text p{
    width: 100%;
  }

  .main-scroll{
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 40px;
  }

  .case-study{
    flex-direction: column;
    align-items: center;
  }

  .case-text{
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }

  .case-text p{
    width: 100%;
    padding-bottom: 12px;
    margin-top: 8px;
  }

  .case-photo img{
    width: 100%;
  }

  .case-text p{
    padding-bottom: 28px;
  }

  footer{
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 40px;
  }

  footer a{
    padding-top: 8px;
  }

  .thanks{
    position: relative;
    padding-left: 0;
    padding-bottom: 16px;
  }
}

/* for medium devices*/
@media only screen and (min-width: 1001px) and (max-width: 1500px){
  .brand-title{
    padding-left: 10%;
    padding-top: 20px;
  }

  .main-photo img{
    width: 70%;
    padding-right: 0px;
  }

  .main-text{
    width: 80%;
  }

  .main{
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .navbar-links{
    padding-right: 10%;
    padding-top: 20px;
  }

  .page-container{
    padding-left: 10%;
    padding-right: 10%;
  }

  .case-photo img{
    width: 340px;
  }

  .case-text{
    padding-left: 40px;
  }

  .case-text p{
    width: 100%;
  }

  .case-text h4{
    margin-bottom: 0px;
  }

  .case-text h3{
    margin-top: 8px;
  }
  
  .main-scroll{
    padding-bottom: 0px;
  }

  footer{
    padding: 40px 0px;
  }
}
