.profile-details-left{
  width: 300px;
}

#profile-details-photo-left{
  width: 300px;
}

.event-details-right{
  width: 250px;
  padding-left: 24px;
  padding-top: 24px;
}

#event-details-photo-right{
  width: 250px;
}

.event-details-left{
}

@media only screen and (max-width: 700px){
  .event-details-right{
    padding-left: 0;
  }

  #prototype{
    display: none;
  }

  #event-details-photo-right{
    width: 250px;
    order: 1;
  }

  .event-details-left{
    order: 2;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1279px){
  .split-body-content{
    flex-direction: column;
    align-items: center;
  }

  .left{
    padding-right: 0;
  }

  .right{
    padding-left: 0;
  }

  .event-details-left{
    order: 2;
  }

  .event-details-right{
    order: 1;
  }

  #prototype{
    width: 80%;
    padding-bottom: 20px;
  }
}
